/* css styles */
body {
  font-size: 18px; /* Adjust this as needed */
}

h1 {
  font-size: 2.5em; /* Larger headings */
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em; /* Larger paragraph text */
}
